.btn {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
    border-radius: 20px;
    border: none;
    background: #FF8080;
    color: #fff;
    font-size: 20px;
}

.btn:hover {
    background: #de6666;
}
.badge{
    padding: 10px;
    width: 15px;
    height: 15px;
    background: #C1F4C5;
    border-radius: 100%;
    color: #395B64;
    font-size: 13px;
}